.search-input { 
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #EEEEEE;
    border: 0.5px solid #9E9E9E;
    padding: 12px 8px;
    width: 100%;

    font-size: 1.4rem;
    line-height: 1.9rem;
}

.search-input:focus { 
  outline: none
}

