html { 
  font-size: 10px 
}

p {
  margin: 0
}

.root {
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-container { 
  position: relative;
  width: 1350px;
  display: flex;
  align-items: center;
}



